* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard {
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  width: calc((55px * 15) + 20px);
  height: calc((55px * 5) + 20px);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: #000;
}

.special-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 105px;
  background-color: #000;
  height: 50px;
}

.space-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: calc(54.5px * 7);
  background-color: #000;
  height: 50px;
}